{% extends "app/base.html" %}
{% load static %}

{% block title %}Change Password Done{% endblock title %}

{% block main-content %}

<div class="container my-5">
    <div class="row">

```
    <h3>Welcome {{ request.user.username }}</h3>

    <div class="col-sm-2 border-end">
        <ul class="list-unstyled">

            <li class="d-grid mb-2">
                <a href="{% url 'profile' %}" class="btn btn-primary">
                    Profile
                </a>
            </li>

            <li class="d-grid">
                <a href="{% url 'home' %}" class="btn btn-primary">
                    Home
                </a>
            </li>

        </ul>
    </div>

    <div class="col-sm-9 offset-sm-1 text-center">

        <h3>Password Changed Successfully!!</h3>

        <p class="mt-3">
            Your password has been changed successfully.
        </p>

    </div>

</div>
```

</div>

{% endblock main-content %}

